@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    

}

body {
    background-color:#15151b;
    

}
p {
    
}


#musicians {
    
     color:#f0e6d8;
    
   
}

.musician-card {
     
     padding: 20px;
     background-color: #111117;
     margin: 20px;

    
}
.musician-main {
    
   
   
}
.section {
     
}
